.btn-check+.btn{
    background-color:transparent;
    color: white;
    border: 1px solid transparent;
}
.btn-check:checked+.btn{
    border: 1px solid white;
}
.ticketBox{
    display: flex;
    justify-content: space-around;

}
.ticket{
    border: 1px solid white;
    text-align: center;
    justify-content: center;
    display: block;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    width: 30%;
    margin: 4%;
    cursor: pointer;

}
.font-monospace{
    font-family: monospace;
    font-weight: normal;
}
#booking-wallet:checked +.hide{
    display: none;
}